<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Shvorak\ProductAdditionalDescription\Api\SetAdditionalDescriptionInterface"
                type="Shvorak\ProductAdditionalDescription\Model\SetAdditionalDescription"/>

    <type name="Magento\Catalog\Api\ProductRepositoryInterface">
        <plugin name="shvprak_additional_description"
                type="Shvorak\ProductAdditionalDescription\Plugin\ProductPlugin"/>
    </type>
</config>
